.depoimento-destino{
    width: 312px;
    margin: 0 auto;
}

.depoimentos-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.depoimentos-container .depoyments-destino p{
    font-size: 16px;
    line-height: 28px;
}

.depoimentos-container footer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 8px;
    align-items: center;
}

.depoimentos-container footer img{
    width: 86px;
    height: 86px;
}

.depoimentos-container footer .profile-content-destino h4{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin: 0 0 8px;
}

.depoimentos-container footer .profile-content-destino .rating-destino .star{
    font-size: 32px;
    color: var(--secondary-color);
    line-height: 32px;
}

@media screen and (min-width: 768px) {
    .depoimento-destino{
        width: 648px;
    }
}

@media screen and (min-width:1024px) {
    .depoimento-destino{
        width: 1200px;
    }

    .depoimentos-container footer img{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }

    .profile-content-destino .rating{
        display: flex;
        flex-direction: row;
    }

    .depoimentos-container{
        flex-direction: row;
        align-items: center;
        width: 1200px;
    }

}
