.footer-black-blog{
    background-color: black;
}

.logo-footer-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.contact-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 8px;
}

.logo-footer-blog img{
    height: 40px;
    width: 161.84px;
}

.description-footer-blog p{
    width: 312px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: var(--text-weight);
}

.redes-sociais-blog{
    margin-top: 32px;
}

.redes-sociais-blog p{    
    width: 312px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: var(--text-weight);
}

.contact-blog img{
    height: 32px;
    width: 32px;
}

@media screen and (min-width: 768px) {
    .description-footer-blog p{
        width: 648px;
        font-size: 20px;
        line-height: 32px;
    }

    .redes-sociais p{
        width: 648px;
        font-size: 20px;
        line-height: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .footer-black-blog{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        height: 232px;
        width: 100%;
    }

    .left{
        padding: 0 25px;
        justify-self: start;
        text-align: left;
    }

    .right{
        padding-top: 27px;
        justify-self: end;
        text-align: right;
    }

    .description-footer-blog p{
        width: 591px;
        font-size: 20px;
        line-height: 32px;
    }

    .redes-sociais-blog p{
        width: 591px;
        font-size: 20px;
        line-height: 32px;
    }
}